.card:hover img {
  transform: scale(1.2, 1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 270px;
  opacity: 0.5;
}

.card-img {
  transform: scale(1, 1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 270px;
}

.card {
  .card-img-wrapper {
    overflow: hidden;
    position: relative;
  }

  .card-img-wrapper:hover {
    .member-icons {
      bottom: 0;
      opacity: 1;
    }
  }
}

.prop-img {
  height: 270px;
}

.member-icons {
  position: absolute;
  bottom: -10%;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.animate {
  transition: all 0.3s ease-in-out;
}
